*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body {
   background-color: rgb(47,47,47);
}
header{
	background-color: rgb(47,47,47);
	height: 63px;
	float: left;
	width: 100%;
}
header img{
	width: 60%;
	height: 63px;
	float: left;
	margin: 0px;
}
nav{
	width: 35%;
	margin: 0px;
	float: right;
}

nav li{
	font: bold 20px calibri;
	float: left;
	list-style-type: none;
	text-align: center;
	margin-left: 30px;
	margin-top: 15px;
}
nav li a{
	text-decoration: none;
	color: rgb(220,220,220);
	transition: 0.2s;
}
nav li a:hover {
	font-size: 24px;
	transition: 0.2s;
}
@media (min-width: 1200px){
	nav{	
		width: 25%;
	}
	header img{
		width: 30%;
	}
}
@media (min-width: 768px) and (max-width: 1199px){
	nav{	
		width: 40%;
	}
	header img{
		width: 35%;
	}
}
@media (min-width: 425px) and (max-width: 767px){
	nav{	
		width: 40%;
	}
	nav li{
		
		float: left;
		margin-left: 8px;
	}
	nav li a{
		font: 14px mv boli;
		transition: 0.2s;
	}
	nav li a: hover{
		font-size: 17px;
		transition: 0.2s;
	}
	header img{
		width: 45%;
	}
}
@media (min-width: 320px) and (max-width: 424px){
	nav{	
		width: 30%;
	}
	nav li{
		font-family: 16px calibri;
	}
	header img{
		width: 45%;
	}
}
#intro{
	background-image: url(../image/home_background.png);
	opacity: 0.6;
	background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    top: 63px;
}
#intro > div {
	text-align: center;
	top: 200px;
	position: relative;
}
#intro h1{
	font:32px mv boli Light;
}
#intro span{
	font-size: 20px;
	font-weight: 600;
	font-family: Microsoft JhengHei UI Light;
	text-shadow: none;
	position: relative;
	transition: 0.2s;
}
intro span:nth-child(1){
	left: 300px;
	position: absolute;
}
#intro span:hover{
    text-shadow: 0.4px 0.2px grey;
    font-size: 22px;
    transition: 0.2s;
}
#about{
	margin-top: 70px;
		
}
article {
	color: azure;
	font: 20px calibri;
}
